In [1]:
import psycopg2 as pg
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option("display.max_rows", 100)

In [2]:
connection = pg.connect("host=autos_postgres dbname=autos_db user=postgres")

OperationalError: connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (::1), port 5432 failed: Cannot assign requested address
	Is the server running on that host and accepting TCP/IP connections?

In [ ]:
df = pd.read_sql('SELECT * FROM carfirst_auction WHERE highest_bid > 0', con=connection)
df["vehicle_name"] = df["title"] + " " + df["subtitle"]

In [ ]:
df["highest_bid"] = df["highest_bid"]/100000
df.head()

In [ ]:
print(f'Total Auctions: {len(df)}')

# Competitive Auctions

In [ ]:
df.sort_values(by="bids_placed", ascending=False)[["title", "subtitle", "bids_placed", "bidders", "location", "transmission_type", "registration_year", "color", "highest_bid"]].head()

# Popular Auctions

In [ ]:
df.sort_values(by="bidders", ascending=False)[["title", "subtitle", "highest_bid", "bids_placed", "bidders", "location", "transmission_type", "registration_year", "color",]].head()

# Honda Summary

In [ ]:
df_toyota = df[df["make"] == "Honda"]
df_toyota.groupby(["model", "subtitle", "registration_year", "transmission_type",]).agg({'highest_bid': ['min', 'max', 'mean', 'median', 'count']})

# Toyota Summary

In [ ]:
df_toyota = df[df["make"] == "Toyota"]
df_toyota.groupby(["model", "subtitle", "registration_year", "transmission_type",]).agg({'highest_bid': ['min', 'max', 'mean', 'median', 'count']})

# Suzuki Summary

In [ ]:
df_toyota = df[df["make"] == "Suzuki"]
df_toyota.groupby(["model", "subtitle", "registration_year", "transmission_type",]).agg({'highest_bid': ['min', 'max', 'mean', 'median', 'count']})